EquisApp/Connected Services/DataServiceReference/DataServiceApi4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataService.DTOs.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataService.DTOs.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>