EquisApp/Connected Services/DataServiceReference/DataServiceApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataServiceApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_DataServiceApi_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57577/DataServiceApi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57577/DataServiceApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57577/DataServiceApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataService.DTOs.Requests" />
      <xsd:import schemaLocation="http://localhost:57577/DataServiceApi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataService.DTOs.Responses" />
      <xsd:import schemaLocation="http://localhost:57577/DataServiceApi.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataService.DTOs.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataServiceApi_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="DataServiceApi_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="DataServiceApi_CreateUpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUpdateUser" />
  </wsdl:message>
  <wsdl:message name="DataServiceApi_CreateUpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceApi">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/DataServiceApi/GetUsers" message="tns:DataServiceApi_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataServiceApi/GetUsersResponse" message="tns:DataServiceApi_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DataServiceApi/CreateUpdateUser" message="tns:DataServiceApi_CreateUpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataServiceApi/CreateUpdateUserResponse" message="tns:DataServiceApi_CreateUpdateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DataServiceApi" type="tns:DataServiceApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/DataServiceApi/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUpdateUser">
      <soap:operation soapAction="http://tempuri.org/DataServiceApi/CreateUpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_DataServiceApi" type="tns:DataServiceApi">
    <wsp:PolicyReference URI="#BasicHttpsBinding_DataServiceApi_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/DataServiceApi/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUpdateUser">
      <soap:operation soapAction="http://tempuri.org/DataServiceApi/CreateUpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataServiceApi">
    <wsdl:port name="BasicHttpBinding_DataServiceApi" binding="tns:BasicHttpBinding_DataServiceApi">
      <soap:address location="http://localhost:57577/DataServiceApi.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_DataServiceApi" binding="tns:BasicHttpsBinding_DataServiceApi">
      <soap:address location="https://localhost:44386/DataServiceApi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>